.navbar {
  background-color: #557153;
}

.jumbotron {
  background-color: #e6e5a3;
  padding-top: 6rem;
}

section {
  padding-top: 5rem;
}

.margin {
  margin-top: 70px;
}

#projects {
  background-color: #e6e5a3;
}

#skil img {
  width: 80px;
}

footer {
  background-color: #557153;
}

@media screen and (max-width: 1000px) {
  .margin {
    margin-top: 5px;
  }
  .ctr {
    margin-left: -5px;
  }
}
